<section class="lista-vagas">
    <div class="card">
      <img src="assets/img/vagas/{{ curriculos.foto }}" alt="Foto do Currículo" />
      <div class="card-body">
        <h5 class="card-title">Código do Currículo: {{ curriculos.id }}</h5>
        <h5 class="card-title">Nome: {{ curriculos.nome }}</h5>
        <p class="card-text">E-mail: {{ curriculos.email }}</p>
        <p class="card-text">Telefone: {{ curriculos.telefone }}</p>
        <p class="card-text">Experiência: {{ curriculos.experiencia }}</p>
        <p class="card-text">Formação: {{ curriculos.formacao }}</p>
        <p class="card-text">Habilidades: {{ curriculos.habilidades }}</p>
      </div>
    </div>

  <div class="rodape"></div>
</section>
