
<div class="curriculo-list-container">
  <div *ngFor="let curriculo of curriculos" class="card-curriculo">
    <img *ngIf="curriculo.foto" src="assets/img/curriculos/{{ curriculo.foto }}" alt="Foto do Currículo" />
    <h5><i>Código:{{ curriculo.id }}</i></h5>
    <h3>{{ curriculo.nome }}</h3>
    <p><strong>E-mail:</strong> {{ curriculo.email }}</p>
    <p><strong>Telefone:</strong> {{ curriculo.telefone }}</p>
    <p><strong>Experiência:</strong> {{ curriculo.experiencia }}</p>
    <p><strong>Formação:</strong> {{ curriculo.formacao }}</p>
    <p><strong>Habilidades:</strong> {{ curriculo.habilidades }}</p>
  </div>
</div>

  <div class="rodape"></div>

